.navbar {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
}

.navbar_links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.navbar_links_mobile {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.navbar_dropdown {
  position: relative;
  display: inline-block;
}

.navbar_dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.navbar_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 100%;
  top: 0;
}

.navbar_dropdown:hover .navbar_dropdown_content {
  display: block;
}

.navbar_about_start, .navbar_about_word {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbarbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.mobile_menu_icon {
  display: none;
}

@media (max-width: 680px) {
  .mobile_menu_icon {
    display: block;
  }
  .navbar_links {
    display: none;
  }
  .navbar_links_mobile {
    display: flex;
  }
}